.appbar-root{
  /* background-color: black !important; */
  background-image: url('../imgs/leather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.tabs-root{
}

.tabs-indicator{
  /* background-color: gold !important; */
  background: linear-gradient(to right, black, gold, black)	!important;
  height: 15% !important;
  opacity: .8 !important;
}

.tab-root{
  font-size: 1.2em !important;
  color: white !important;
}

.tab-selected{
  /* font-size: 1.6em !important; */
  color: gold !important;
  /* font-weight: bold !important; */
}
