.calendar-root{
  border-width: 0;
  box-shadow: 0 0 10px gainsboro;
  width: 100%;
}

.radio-checked{
  color: gold !important;
}

.radio-root:hover{
  background-color: rgba(255, 215, 0, .1) !important;
}

.appoint-col{
  /* box-shadow: 0 0 10px lightgray; */
}

#appointment-container{
  padding: 24px 80px;
  min-width: 100%;
  background: whitesmoke;
  /* margin: 0; */
  /* margin-right: 0; */
}
