/**************** calendar styling ****************/

.calendar-root{
  border-width: 0;
  box-shadow: 0 0 5px gold;
  width: 100%;
  background: black;
  border-radius: 10px;
  padding: 0 5px;
  }

.calendar-tile{
  filter: invert(100%);
  min-height: 5em;
  transition: .2s;
  border-radius: 5px;
}

.calendar-tile:hover{
  filter: invert(100%) brightness(150%);
}

.calendar-nav{
  color: #FFCC66;
}

.react-calendar__navigation__label{
  background: black !important;
}

.calendar-slownav{
  color: goldenrod;
}

/**************************************************/

/******* react-calendar internal components *******/

.react-calendar__navigation__arrow {
  transition: .2s;
}
.react-calendar__navigation__arrow:hover{
  border-radius: 50%;
  background: rgba(255, 210, 110, .3) !important;
}

.react-calendar__navigation__arrow:focus{
  border-radius: 50%;
  background: rgba(255, 210, 110, .5) !important;
}

.react-calendar__navigation__label{
  transition: .2s;
}
.react-calendar__navigation__label:hover{
  border-radius: 5px;
  background: rgba(255, 210, 110, .3) !important;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button{
  display: none;
}

/****************************************************/

/***************** Scheduler Styling*****************/

.scheduler-root{
  border-radius: 10px;
  box-shadow: 0 0 5px gold;
}

.day-view-layout{
  border-radius: 10px;
}

.time-scale-cell{
  text-align: right !important;
  background: black;
  color: white !important;
}

.time-scale-layout{
  background: black;
  width: 300% !important;
}

.day-scale-layout{
  margin-left: -10% !important;
  width: 110% !important;
}

.day-scale-cell{
  background: black;
  color: #FFCC66 !important;
}

.day-scale-cell-empty{
  background: black;
}

.time-table-layout{
  margin-left: 30% !important;
  width: 70% !important;
}

.time-table-cell{
  background: red;
}
/****************************************************/

/************* Selection Button Styling *************/

#sessionSelect-container, #durationSelect-container{
}

.selection-session, .selection-duration{
  background: linear-gradient(to bottom right, black, black, rgba(255, 210, 110, .2)) !important;
  width: 90%;
  margin: 10px !important;
  padding: 15px !important;
  /* border-width: 1px !important; */
  border-color: #FFCC66 !important;
  border-style: inset!important;
  color: #FFCC66 !important;
  box-shadow: 0 0 3px #FFCC66 inset;
}

.selection-session{
  margin-bottom: 20px !important;
}

.selection-duration{
  margin-bottom: 40px !important;
}

.selection-button-title{
  font-size: 1.2em !important;
}

.app-section-title{
  color: gainsboro;
  text-align: left;
  margin-left: 25px !important;
}

/****************************************************/

.radio-checked{
  color: gold !important;
}

.radio-root:hover{
  background-color: rgba(255, 215, 0, .1) !important;
}

.appoint-col{
  /* box-shadow: 0 0 10px lightgray; */
}

#appointment-container{
  padding: 24px 80px;
  min-width: 100%;
  background: black;
  min-height: 100vh;
  color: whitesmoke;
}

#time-container{
  min-width: 100%;
}

#appointment-summary{
  text-align: left;
  margin: 0 10px;
  padding: 8px;
  background: black;
  color: lightgray;
  box-shadow: 0 0 5px #FFCC66;
  border-radius: 10px;
}
