/**************** calendar styling ****************/

.calendar-root{
  border-width: 0;
  box-shadow: 0 0 5px gold;
  width: 100%;
  background: black;
  border-radius: 10px;
  padding: 0 5px;
  }

.calendar-tile{
  filter: invert(100%);
  min-height: 5em;
  transition: .1s;
  border-radius: 5px;
}

.calendar-tile:disabled{
  color: rgba(0,0,0,.15);
  background: none;
}

.calendar-tile:hover{
  filter: invert(100%) brightness(150%);
}

.calendar-nav{
  color: #FFCC66;
}

.react-calendar__navigation__label{
  background: black !important;
}

.calendar-slownav{
  color: goldenrod;
}

/**************************************************/

/******* react-calendar internal components *******/

.react-calendar__navigation__arrow {
  transition: .2s;
}
.react-calendar__navigation__arrow:hover{
  border-radius: 50%;
  background: rgba(255, 210, 110, .3) !important;
}

.react-calendar__navigation__arrow:focus{
  border-radius: 50%;
  background: rgba(255, 210, 110, .5) !important;
}

.react-calendar__navigation__arrow:disabled{
  border-radius: 50%;
  background: rgba(0, 0, 0, 1) !important;
}

.react-calendar__navigation__label{
  transition: .2s;
}
.react-calendar__navigation__label:hover{
  border-radius: 5px;
  background: rgba(255, 210, 110, .3) !important;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button{
  display: none;
}

/****************************************************/

/***************** Scheduler Styling*****************/

.scheduler-root{
  overflow-x: hidden !important;
  box-shadow: 0 0 5px gold;
  background: black;
  border-radius: 10px;
}

.day-view-layout{
  overflow-x: hidden !important;
  border-radius: 10px;
  width: 108% !important;
}

.time-scale-cell{
  text-align: right !important;
  background: black !important;
  color: white !important;

}

.time-scale-layout{
  display: none !important;
  background: black;
  width: 400% !important;
}

.day-scale-layout{
  margin-left: -10% !important;
  width: 111% !important;
}

.day-scale-cell{
  background: black;
  color: #FFCC66 !important;
}

.day-scale-cell-empty{
  background: black;
}

.time-table-layout{
  margin-left: -10% !important;
  width: 111% !important;
}

.time-table-cell{
  background: rgb(30,30,30) !important;
  transition: .2s !important;
  width: 100%;
  text-align: center !important;
  color: gold !important;
}

.time-table-cell:hover{
  background: rgba(255,210,110,.6) !important;
}

.invalid-time{
  display: none !important;
  pointer-events: none;
  color: gray !important;
}

.invalid-time:hover{
  background: rgba(30,30,30) !important;
}

#cell-active{
  background: gold !important;
  transition: .2s !important;
  color: black !important;
}

.scheduled-appointment{
  background: rgba(80,80,80,.9);
  min-height: 3em;
  width: 111% !important;
  margin-left: -10%;
  padding-bottom: 3%;
  margin-top: -1%;
  box-shadow: 0 0 5px black inset;
}

/****************************************************/

/************* Selection Button Styling *************/

#sessionSelect-container, #durationSelect-container{
}

.selection-session, .selection-duration{
  background: linear-gradient(to bottom right, black, black, rgba(255, 210, 110, .2)) !important;
  width: 90%;
  margin: 10px !important;
  padding: 15px !important;
  border-color: #FFCC66 !important;
  border-style: inset!important;
  color: #FFCC66 !important;
  box-shadow: 0 0 3px #FFCC66 inset;
  transition: .2s !important;
}

.selection-session:hover, .selection-duration:hover{
  /* background: linear-gradient(to bottom right, black, rgba(255, 210, 110, .2), rgba(255, 210, 110, .6)) !important; */
  filter: brightness(200%) saturate(150%);
  color: white !important;
}

.selection-active{
  background: goldenrod !important;
  color: white !important;
  filter: none !important;
}

.selection-session{
  margin-bottom: 20px !important;
}

.selection-duration{
  margin-bottom: 40px !important;
}

.selection-button-title{
  font-size: 1.2em !important;
}

.app-section-title{
  color: gainsboro;
  text-align: left;
  margin-left: 25px !important;
}

/****************************************************/

/****************** Mobile Stepper ******************/
.mobile-stepper-root{
  background: linear-gradient(to top, rgb(60,60,60), rgb(20,20,20)) !important;
  flex-grow: 1 !important;
  width: 100vw;
  margin-bottom: 10vh;
  z-index: 0 !important;
}

.mobile-stepper-button{
  transition: .4s !important;
  color: #FFCC66 !important;
  text-shadow: 0 0 1px #FFCC66 !important;
}

.mobile-stepper-button:disabled{
  color: rgba(255,210,110, .3) !important;
  text-shadow: none !important;
}

.mobile-stepper-dot{
  transition: .4s !important;
  margin: 0 5px !important;
  padding: 1px;
  background-color: rgba(255,210,110, .3) !important;
}

.mobile-stepper-dot-active{
  background-color: gold !important;
}

.mobile-stepper-progress{
  color: gold !important;
}


/****************************************************/


.radio-checked{
  color: gold !important;
}

.radio-root:hover{
  background-color: rgba(255, 215, 0, .1) !important;
}

.appoint-col{
  /* box-shadow: 0 0 10px lightgray; */
}

#appointment-container, #appointment-container-mobile{
  padding: 120px 80px 24px 80px;
  min-width: 100%;
  background: linear-gradient(to bottom right, black, rgba(10,10,10,.9),black);
  background-attachment: fixed;
  min-height: 100vh;
  color: whitesmoke;
  padding-bottom: 120px;
}

#appointment-container-mobile{
  min-height: 90vh;
  padding: 80px 0 0 0;
}

#time-container{
  width: 100%;
}

#appointment-summary{
  text-align: left;
  padding: 16px 24px;
  background: black;
  color: lightgray;
  box-shadow: 0 0 5px #FFCC66;
  border-radius: 10px;
  min-height: 90%;
}

.submit-app-btn{
  color: white !important;
  width: 100%;
  background: goldenrod !important;
}

@media screen and (max-width: 480px) {
  #appointment-summary{
    min-height: 70vh;
    background: rgba(0,0,0,0);
    box-shadow: none;
  }

  .app-section-title{
    margin-bottom: 40px !important;
    font-size: 2em !important;
    text-align: center;
    margin-left: 0 !important;
  }
}
