.banner-container{
  height: calc(100vh - 48px);
  width: 100%;
}

.banner-text{
  color: white;
  background: gold;
  padding: 10px 15px;
}

#banner-desc{
  height: inherit;
}

#banner-title{
  font-size: 4em;
}

#banner-subtitle{
  font-size: 2.5em;
}

#banner-img{
  position: absolute;
  left: 0;
  height: inherit;
  /* max-height: 100vh; */
  width: 100%;
  /* position: absolute; */
  /* left: 0; */
  filter: opacity(1) blur(0px);
  z-index: -10;
  object-fit: cover;
}

.material-icons.md-24 { font-size: 24px; padding: 8px;}
.material-icons.md-36 { font-size: 36px; padding: 8px;}
.material-icons.md-48 { font-size: 48px; }
