.banner-container{
  height: 100vh;
  width: 100%;
}

.banner-text{
  color: white;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), goldenrod, rgba(0, 0, 0, 0));
  padding: 10px 15px;
  border-radius: 10px;
}

.banner-bt-root{
  /* background: black !important; */
  background-image: url('../imgs/leather.jpg');
  font-size: 1.5em !important;
  color: goldenrod !important;
}

#banner-desc{
  height: inherit;
}

#banner-title{
  font-size: 4em;
}

#banner-subtitle{
  font-size: 2.5em;
  opacity: .8;
}

#banner-img{
  position: absolute;
  left: 0;
  height: inherit;
  /* max-height: 100vh; */
  width: 100%;
  /* position: absolute; */
  /* left: 0; */
  filter: opacity(1) blur(0px) brightness(80%);
  z-index: -10;
  object-fit: cover;
}

.material-icons.md-24 { font-size: 24px; padding: 8px;}
.material-icons.md-36 { font-size: 36px; padding: 8px;}
.material-icons.md-48 { font-size: 48px; }
