#carousel-position{
  position: absolute;
  height: inherit;
  width: 100%;
  top: 85vh;
}

#carousel-arrows{
  display: none;
}

.carousel-bt-root{
  border-radius: 50% !important;
  margin: 0 10px !important;
  width: 10px !important;
  height: 10px !important;
  display: inline-flex;
  transition: .3s !important;
}

.carousel-bt-root:hover{
  cursor: pointer;
  filter: brightness(80%);
}

.active{
  background-color: gold !important;
  width: 12px !important;
  height: 12px !important;
}

.banner-fadeIn{
  opacity: 1;
  transition: .2s;
}

.banner-fadeOut{
  /* opacity: 0; */
  transition: .2s;
  filter: brightness(0%);
}

.carouselControl{
  color: whitesmoke;
  opacity: .5;
  font-size: 64px;
  cursor: pointer;
  transition: .3s;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.carouselControl:hover{
  opacity: 1;
}

.carouselControl:active{
  filter: brightness(80%);
}

/* CSS for Desktop */

@media screen and (min-width: 480px) {
  .carousel-container{
    height: 100vh;
  }

  #carousel-position{
    position: absolute;
    height: inherit;
    width: 100%;
    top: 90vh;
  }

  #carousel-arrows{
    display: block;
  }
}
