.footer-title{
  color: gainsboro;
  font-weight: 500 !important;
}

.fa-icon{
  color: #FFCC66;
}

.fa-icon:hover{
  filter: drop-shadow(0 0 4px gold);
  cursor: pointer;
}

.contact-text{
  padding-top: 8px;
}

#footer-container{
  padding: 20px 10%;
  background: black;
  color: darkgray;
}

#hours-container{
  text-align: left;
  line-height: 1.5em;
  font-size: .85em;
}
