.footer-title{
  color: gainsboro;
  font-weight: 500 !important;
}

.fa-icon, .fa-icon-social{
  color: #FFCC66;
  margin-bottom: 5px;
}

.fa-icon-social:hover{
  filter: drop-shadow(0 0 4px gold);
  cursor: pointer;
}

.contact-text{
  padding-top: 8px;
}

#footer-container{
  display: none;
  padding: 20px 10%;
  background: black;
  color: darkgray;
}

#hours-container{
  text-align: left;
  line-height: 1.5em;
  font-size: .85em;
}

/* CSS for Desktop */

@media screen and (min-width: 480px) {
  #footer-container{
    display: inline-flex;
  }
}
