#section-summary{
  width: 90%;
  margin: 48px 0;
}

#benefits-text{
  width: 80%;
  text-align: left;
  padding: 30px;
}

/* CSS for Desktop */

@media screen and (min-width: 480px) {
  #section-summary{
    width: 70%;
    margin: 60px 0;
  }
}
