.login-container {
  height: 100vh;
  maxWidth: 100vw;
  zIndex: 999999;
  position: absolute;
  background: white;
},

.login-box {
  background: rgb(35,35,35);
  height: 100%;
  width: 50%;
  padding: 10% 15%;
  color: white;
}

.picture-box {
   /* background: 'linear-gradient(black, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url('+LoginBG+')', */
  /* background: url(+LoginBG+), */
  backgroundSize: cover;
  backgroundRepeat: no-repeat;
  height: 100%;
  width: 50%;
  padding: 20px;
  color: white;
  boxShadow: 0 0 20px black inset;
}

.login-textfield {
  color: white !important;
  /* & label.Mui-focused {
    color: red !important;
  }
  & .MuiInput-underline:after {
    borderBottomColor: green;
  },
  & .MuiOutlinedInput-root {
    & fieldset {
      borderColor: red;
    },
    &:hover fieldset {
      borderColor: yellow;
    },
    &.Mui-focused fieldset {
      borderColor: green;
    }
  } */
}
