.login-container {
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: absolute;
}

.login-banner{
  position: absolute;
  background: #FFCC66;
  height: 100vh;
  width: 40vw !important;
  z-index: 1004;
  color: white !important;
  transition: transform .6s ease-in-out;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -moz-transition: -moz-transform .6s ease-in-out;
  right: 0;
}

.lb-left{
  transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
}

.lb-right{
  transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}

.signin-container, .signup-container{
  position: absolute;
  height: 100%;
  width: 30%;
  padding: 0 15%;
  transition: transform .6s ease-in-out !important;
  -webkit-transition: -webkit-transform .6s ease-in-out !important;
  -moz-transition: -moz-transform .6s ease-in-out !important;
  z-index: 1001;
}

.signin-right, .signup-right{
  transform: translateX(66%);
    -webkit-transform: translateX(66%);
    -moz-transform: translateX(66%);
}

.signin-left{
  animation: fadeIn 1s normal forwards !important;
}

.signin-right{
  animation: fadeOut 1s normal forwards !important;
}

.login-title{
  color: #FFCC66;
  font-weight: 450 !important;
  margin: 20px 0 !important;
  /* text-shadow: 0 0 2px gray !important; */
}

.login-button{
  color: white !important;
  font-size: 1.1em !important;
  background: #FFCC66 !important;
  width: 50% !important;
  padding: 10px !important;
  border-radius: 50px !important;
}

.login-banner-button{
  color: white !important;
  font-size: 1.1em !important;
  /* width: 25% !important; */
  padding: 5px 40px !important;
  border-color: white !important;
  border-width: 2px !important;
  border-radius: 50px !important;
}


.MuiOutlinedInput-notchedOutline{
  /* border-radius: 50px !important; */
  /* border-color: gray !important; */
  border-width: 0px !important;
}

.MuiOutlinedInput-root {
  /* color: whitesmoke !important; */
  background: rgb(240,240,240);
  transition: .2s;
}

.MuiOutlinedInput-root:hover {
  background: rgb(230,230,230);
}

.MuiOutlinedInput-root.Mui-focused{
  color: rgb(100,100,100) !important;
  background: rgb(245,245,245) !important;
  box-shadow: 0 0 5px lightgray inset;
}

.MuiFormLabel-root{
  color: gray !important;
}

.MuiFormLabel-root.Mui-focused{
  box-shadow: 0 0 10px 10px white inset, 0 0 5px 2px white;
}

@keyframes fadeIn {
  0% {z-index: 1001;}
  30% {z-index: 1001;}
  35% {z-index: 1003;}
  100% {z-index: 1003;}
}

@keyframes fadeOut {
  0% {z-index: 1003;}
  30% {z-index: 1003;}
  35% {z-index: 1001;}
  100% {z-index: 1001;}
}
