.login-container {
  height: 100vh;
  maxWidth: 100vw;
  zIndex: 999999;
  position: absolute;
},

.login-box {
  background: rgba(0,0,0, .8);
  height: 100%;
  width: 50%;
  padding: 10% 15%;
  /* color: white; */
}

.login-input{
  margin-left: -25% !important;
  min-width: 150%;
  background: rgba(0,0,0,.3);
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}

.picture-box {
   /* background: 'linear-gradient(black, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url('+LoginBG+')', */
  /* background: url(+LoginBG+), */
  backgroundSize: cover;
  backgroundRepeat: no-repeat;
  height: 100%;
  width: 50%;
  padding: 20px;
  color: white;
  boxShadow: 0 0 20px black inset;
}


.MuiOutlinedInput-notchedOutline{
  border-radius: 20px !important;
  border-color: gray !important;
  border-width: 2px !important;
}

.MuiOutlinedInput-notchedOutline:hover{
  border-color: red !important;
  border-width: 4px !important;
}

.Mui-focused.MuiOutlinedInput-notchedOutline{
  border-color: red !important;
}

.MuiOutlinedInput-root {
  color: whitesmoke !important;
  background: rgba(255,255,255,.1);
  border-radius: 20px;
}

.MuiOutlinedInput-root.Mui-focused{
  background: rgba(255,255,255,.05) !important;
}

.input-label{
  color: goldenrod;
}
