.appbar-root{
  background: linear-gradient(to bottom, rgb(60,60,60),rgb(0,0,0)) !important;
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100% !important;
  z-index: 1000 !important;
  height: 10vh;
  transition: bottom .5s !important;
  /* box-shadow: none !important; */
}

.mobile-header{
  background: linear-gradient(to bottom, rgba(60,60,60,1),rgba(0,0,0,.8)) !important;
  top: 0;
  position: fixed !important;
  height: 8vh;
  z-index: 1000 !important;
  opacity: .9;
  transition: top .5s !important;
}

.appbar-hidden{
  bottom: -10vh;
}

.header-hidden{
  top: -8vh;
}

.appbar-desktop{
  display: none !important;
}

#appbar-logo{
  max-height: 5vh;
  padding: 10px;
}

.mobile-appbar-welcome{
  font-size: .8em !important;
  color: #f8cc67;
  filter: brightness(70%);
}

.tabs-root{
  z-index: 100;
}

.tabs-indicator{
  height: 0% !important;
  opacity: .8 !important;
}

.tab-root{
  font-size: 1.2vw !important;
  color: white !important;
  transition: .3s;
}

.tab-root:hover{
  color: #FFD580 !important;
}

.tab-selected{
  font-size: 1.3vw !important;
  color: #FFC44D !important;
}

.tab-mobile{
  align-items: center !important;
  height: 10vh !important;
  width: calc(100vw/4) !important;
  font-size: .6em !important;
}

.tab-display-none{
  display: none !important;
}

/* For Desktop */

@media screen and (min-width: 480px) {

  .tabs-root{
    align-self: flex-end;
  }

  .appbar-desktop{
    display: flex !important;
  }

  .appbar-mobile{
    display: none !important;
  }

  .appbar-root{
    background: rgba(0, 0, 0, 0) !important;
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: auto;
    height: auto;
    z-index: 1000 !important;
    box-shadow: none !important;
  }

  #appbar-logo{
    display: inherit;
    position: absolute;
    max-height: 150%;
    filter: brightness(130%) saturate(120%);
    padding: 10px;
    left: 20px;
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, .1);
  }

}
