.appbar-root{
  background-color: rgba(0, 0, 0, 0) !important;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 1000 !important;
  box-shadow: none !important;
}

.tabs-root{
  z-index: 100;
  /* position: absolute; */
  margin-right: 0;
  margin-left: auto;
}

.tabs-indicator{
  height: 0% !important;
  opacity: .8 !important;
}

.tab-root{
  font-size: 1.2em !important;
  color: white !important;
  /* text-shadow: 0 1px 3px gray; */
  transition: .3s;
}

.tab-root:hover{
  color: #FFD580 !important;
}

.tab-selected{
  font-size: 1.3em !important;
  color: #FFC44D !important;
  /* text-shadow: 0 1px 1px gold; */
  /* text-shadow: none; */
  /* font-weight: bold !important; */
}
