#services-container{
  padding-top: 100px;
  /* background: linear-gradient(to top left, rgba(255, 210, 110,.8),rgba(0,0,0,1)); */
  background: radial-gradient(rgba(0,0,0,.3),rgba(0,0,0,1));
  background-attachment: fixed;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
}

.services-section{
}

.services-title, .pricing-title{
  color: #FFCC66;
  text-shadow: 0 2px 4px #FFCC66;
  text-align: left;
  font-weight: 300 !important;
}

.massage-section{
  margin-bottom: 16px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  background: rgba(0,0,0,.6);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFCC66;
  flex: 0 0 auto !important;
}

.device-name{
  color: #FFCC66;
  padding: 8px 16px 0 16px;
  font-weight: lighter !important;
  text-align: left;
}

.massage-text{
  color: gainsboro;
  padding: 8px 18px 16px 18px;
  text-align: left;
}

.underbar{
  background: linear-gradient(to right, #FFCC66,#FFCC66, black, rgba(0,0,0,0));
  max-width: 100%;
  height: 3px;
  margin: 8px 0;
  border-radius: 5px;
}

#normatec-title{
  height: 1em;
}

/* Pricing CSS */
#pricing-container{
  padding: 80px;
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,.9), black);
  background-attachment: fixed;
  width: inherit;
  box-shadow: -10px 0 15px black;
}

.pricing-title{
}

.pricing-section-title, .pricing-section{
  color: whitesmoke;
  text-align: left;
}

.pricing-section{
  /* width: 100%; */
}

.pricing-section-title{
  /* text-decoration: underline; */
  font-size: 1.5em !important;
  color: gainsboro;
}

.pricing-details{
  margin: 4px 0 !important;
  font-size: 1.2em !important;
}

#price-section1, #price-section2{
  margin: 24px 0px;
}

.memberships-title{
  color: #FFCC66;
  font-size: 2em !important;
}

.pricing-detail-text{
  color: darkgray;
}


/* Desktop */
@media screen and (min-width: 480px) {

  .device-name{
    font-size: 2.25vw !important;
  }

  .massage-text{
    font-size: 1.1vw !important;
  }

  .services-section{
    padding: 16px;
  }

  #price-section1, #price-section2{
    /* margin: 40px; */
  }

  .pricing-section{
    text-align: center;
  }

  .pricing-section-title{
    font-size: 2.4vw !important;
    text-align: center;
  }

  #price-memberships {
  }

  .memberships-title{
    font-size: 2.4em !important;
    margin-bottom: 16px !important;
  }

  .membership{
    background: rgba(10,10,10,.5);
    border: 1px solid #FFCC66;
    border-radius: 8px;
    padding: 16px;
  }

  .pricing-detail-text{
    font-size: 1.4vw !important;
  }

  #pricing-title-smr{
    font-size: 1.6vw !important;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {

  .services-details{
    padding: 0 5% !important;
    margin-left: -5% !important;
    margin-right: -5% !important;
    width: 100vw !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
  }

  .services-title, .pricing-title{
    font-size: 2em !important;
  }

  .device-name{
    font-size: 1.5em !important;
  }

  #pricing-container{
    padding: 40px;
  }
}
