.summary-card{
  margin: 24px 24px;
  background-color: rgba(0,0,0,0) !important;
  filter: grayscale(100%);
  transition: filter .3s;
}

.summary-media{
  width: 100%;
  height: 100%;

}

.summary-card:hover{
  filter: grayscale(0);
  transition: filter .3s;
}

.summary-bt-root{
  /* color: red !important;
  border-color: red !important; */
}

.summary-bt-root:hover{
  background-color: rgba(255, 210, 0, .5) !important;
  border-color: rgb(255,210,0) !important;
}
