.summary-card{
  margin: 0 12px;
  padding-bottom: 12px;
  background-color: rgba(0,0,0,0) !important;
  filter: grayscale(100%);
  transition: .3s !important;
  border-color: #FFCC66;
  border-radius: 10px !important;
  border-style: inset;
  border-width: 2px;
  max-height: 100%;
}

.summary-media{
  /* width: 100%; */
  /* max-height: 10%; */
}

.summary-card:hover{
  filter: grayscale(1%);
  transition: .3s;
  text-shadow: 0 1px 3px #FFCC66;
}

.summary-title{
  color: #FFCC66;
}

.summary-info{
  color: whitesmoke !important;
  text-shadow: none;
  min-height: 20vh !important;
}

.summary-bt-root{
  color: goldenrod !important;
  border-color: gold !important;
}

.summary-bt-root:hover{
  background-color: rgba(255, 210, 0, .3) !important;
  border-color: rgb(255,210,0) !important;
}
